#galery .pos1 {
    top: 0;
    left: 0;
}

#galery .pos2 {
    top: 100px;
    left: 0;
}

#galery .pos3 {
    top: 100px;
    left: 50px;
}

#galery .pos4 {
    top: 150px;
    left: 0;
}

#galery .pos5 {
    top: 250px;
    left: 0;
}

#galery .pos6 {
    top: 0;
    left: 100px;
}

#galery .pos7 {
    top: 0;
    left: 150px;
}

#galery .pos8 {
    top: 0;
    left: 200px;
}

#galery .pos9 {
    top: 50px;
    left: 100px;
}

#galery .pos10 {
    top: 200px;
    left: 100px;
}

#galery .pos11 {
    top: 200px;
    left: 150px;
}

#galery .pos12 {
    top: 0;
    left: 250px;
}

#galery .pos13 {
    top: 200px;
    left: 350px;
}

#galery .pos14 {
    top: 200px;
    left: 400px;
}

#galery .pos15 {
    top: 250px;
    left: 350px;
}

#galery .pos16 {
    top: 250px;
    left: 400px;
}

#galery .pos17 {
    top: 300px;
    left: 350px;
}

#galery .pos18 {
    top: 0;
    left: 450px;
}

#galery .pos19 {
    top: 100px;
    left: 450px;
}

#galery .pos20 {
    top: 100px;
    left: 500px;
}

#galery .pos21 {
    top: 150px;
    left: 450px;
}

#galery .pos22 {
    top: 250px;
    left: 450px;
}

#galery .pos23 {
    top: 0;
    left: 550px;
}

#galery .pos24 {
    top: 0;
    left: 600px;
}

#galery .pos25 {
    top: 0;
    left: 650px;
}

#galery .pos26 {
    top: 50px;
    left: 550px;
}

#galery .pos27 {
    top: 200px;
    left: 550px;
}

#galery .pos28 {
    top: 200px;
    left: 600px;
}

#galery .pos29 {
    top: 0;
    left: 700px;
}

#galery .pos30 {
    top: 200px;
    left: 800px;
}

#galery .pos31 {
    top: 200px;
    left: 850px;
}

#galery .pos32 {
    top: 250px;
    left: 800px;
}

#galery .pos33 {
    top: 250px;
    left: 850px;
}

#galery .pos34 {
    top: 300px;
    left: 800px;
}